<div class="search-page-container">
    <div *ngFor="let data of tempData" class="card">
        <div class="text">
            <span class="title-text">Train No. :</span>
            <h3>04601</h3>
        </div>
        <br />
        <div class="text">
            <span class="title-text">Train Name :</span>
            <h3>Jammu Tawi Udhampur Special</h3>
        </div>
        <br />
        <div class="text">
            <span class="title-text">From :</span>
            <h3>JAMMU TAWI (JAT)</h3>
        </div>
        <br />
        <div class="text">
            <span class="title-text">To :</span>
            <h3>UDHAMPUR (UHP)</h3>
        </div>
        <br />
        <div class="button">
            <br />
            <button>View Details</button>
        </div>
    </div>
</div>