<div class="main-page-container">
    <div class="pagination-block" *ngIf="isLoaded">
        <span>Showing <b>{{paginationData.startIndex}}-{{paginationData.endIndex}}</b> of <b>{{paginationData.totalMatchRecords}}</b></span>
        <button type="button" [disabled]="paginationData.startIndex === 1">
            <i class="uil uil-angle-double-left" (click)="goStart()"></i>
        </button>
        <button type="button" [disabled]="paginationData.startIndex === 1">
            <i class="uil uil-angle-left" (click)="goLeftPage()"></i>
        </button>
        <button type="button" [disabled]="paginationData.endIndex === paginationData.totalMatchRecords">
            <i class="uil uil-angle-right" (click)="goRightPage()"></i>
        </button>
        <button type="button" [disabled]="paginationData.endIndex === paginationData.totalMatchRecords">
            <i class="uil uil-angle-double-right" (click)="goEnd()"></i>
        </button>
    </div>
    <div class="search-page-container">
        <ng-container *ngIf="isLoaded; else loader">
            <div *ngFor="let data of trainData" class="card">
                <div class="text">
                    <span class="title-text">Train No. :</span>
                    <h3>{{data.train_no}}</h3>
                </div>
                <br />
                <div class="text">
                    <span class="title-text">Train Name :</span>
                    <h3>{{data.train_name}}</h3>
                </div>
                <br />
                <div class="text">
                    <span class="title-text">From :</span>
                    <h3>{{data.start_at}} ({{data.start_at_cd}})</h3>
                </div>
                <br />
                <div class="text">
                    <span class="title-text">To :</span>
                    <h3>{{data.end_at}} ({{data.end_at_cd}})</h3>
                </div>
                <br />
                <div class="button">
                    <br />
                    <button (click)="getDetails(data.train_no)">View Details</button>
                </div>
            </div>
        </ng-container>
        <ng-template #loader>
            <div class="loader">
                <img src="assets/gifs/searching_icon.gif" alt="loading_icon" width="100" height="100">
                <label>{{loadingMessage}}</label>
            </div>
        </ng-template>
    </div>
</div>