<header class="details-header">
    <button (click)="routeBack()" class="back-btn" title="Go back">
        <i class="uil uil-angle-left"></i>
    </button>
    <h2>Train Details</h2>
</header>

<div class="container">
    <div class="list-tile">
        <div class="circle"></div>
        <div class="upper-stripes">
            <i class="uil uil-metro"></i>
            <span>Train No : 04601</span>
        </div>
        <div class="block">
            <div class="main-block">
                <span class="key">Train Name</span><br />
                <span class="value">Jammu Tawi Udhampur Special</span>
                <br /><br />
                <div class="train-time-block">
                    <div class="from-block">
                        <span class="key">From</span>
                        <span class="value">JAMMU TAWI<br />(JAT)</span>
                    </div>
                    <div class="to-block">
                        <span class="key">To</span>
                        <span class="value">UDHAMPUR<br />(UHP)</span>
                    </div>
                    <div class="from-block">
                        <span class="key">Arrival At</span>
                        <span class="value">12:15:00</span>
                    </div>
                    <div class="to-block">
                        <span class="key">Departure At</span>
                        <span class="value">10:40:00</span>
                    </div>
                </div>
            </div>
            <div class="side-block">
                <svg id="barcode" />
            </div>
        </div>
        <div class="lower-stripes"></div>
    </div>
</div>