<header class="details-header">
    <button (click)="routeBack()" class="back-btn" title="Go back">
        <i class="uil uil-angle-left"></i>
    </button>
</header>

<div class="details-container" *ngIf="isDetailsLoaded; else loader">
    <div class="side-block">
        <div class="meta-data-block">
            <span>Train Type<br/><h3>{{trainData.train_type}}</h3></span>
            <span>Total Travel Duration<br/><h3>{{trainData.duration_h}} hr {{trainData.duration_m}} min</h3></span>
        </div>
        <div class="list-tile">
            <div class="circle"></div>
            <div class="upper-stripes">
                <i class="uil uil-metro"></i>
                <span>Train No : {{trainData.train_no}}</span>
            </div>
            <div class="block">
                <span class="key">Train Name</span><br />
                <span class="value">{{trainData.train_name}}</span>
                <br /><br />
                <div class="train-time-block">
                    <div class="from-block">
                        <span class="key">From</span>
                        <span class="value">{{trainData.start_at}}<br />({{trainData.start_at_cd}})</span>
                    </div>
                    <div class="to-block">
                        <span class="key">To</span>
                        <span class="value">{{trainData.end_at}}<br />({{trainData.end_at_cd}})</span>
                    </div>
                    <div class="from-block">
                        <span class="key">Start At</span>
                        <span class="value">{{trainData.departure_time}}</span>
                    </div>
                    <div class="to-block">
                        <span class="key">End At</span>
                        <span class="value">{{trainData.arrival_time}}</span>
                    </div>
                </div>
            </div>
            <div class="lower-stripes"></div>
        </div>
        <div class="coach-info-block">
            <h3>Coaches</h3>
            <div class="box-row">
                <div class="color-box" *ngFor="let coach of coaches | keyvalue: keepOriginalOrder">
                    <div class="coach-count" [style.backgroundColor]="coach.value !== '0' ? '#e8fbea' : '#e8f1fb'">{{coach.value}}</div>
                    <div class="coach-name">{{coach.key}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="timetable-container">
        <h3 class="timetable-title">Train Journey</h3>
        <ul *ngIf="isTimetableLoaded; else timetableLoader">
            <li class="timetable-row" *ngFor="let trainData of trainSchedule">
                <span class="small-item time"><b>{{trainData.arrival_time}}</b></span>
                <span class="outer-cirle">
                    <span class="inner-circle"></span>
                    <svg class="line-svg" width="20" height="120">
                        <line x1="10" y1="20" x2="10" y2="120" stroke="#0b4076" style="stroke-width:2"/>
                    </svg>
                </span>
                <span class="large-item title">{{trainData.station_name}}<br/>({{trainData.station_cd}})</span>
                <span class="small-item day">Day : {{trainData.day}}</span>
            </li>
        </ul>
        <ng-template #timetableLoader>
            <div class="loader">
                <img src="assets/gifs/searching_input_field.gif" alt="loading_icon" width="100" height="100">
                <label>{{loadingMessageJourney}}</label>
            </div>
        </ng-template>
    </div>
</div>

<ng-template #loader>
    <div class="loader">
        <img src="assets/gifs/details_icon.gif" alt="loading_icon" width="100" height="100">
        <label>{{loadingMessage}}</label>
    </div>
</ng-template>