<header>
    <div class="logo">
        <h1>Info Rail</h1>
    </div>
    <div class="search-bar">
        <div class="input-container">
            <input placeholder="Train No. or Name" class="input-field" type="text">
            <i class="search-icon uil uil-search"></i>
        </div>
        <button class="search-btn">Search</button>
    </div>
</header>


<div class="container">
    <div class="list-tile">
        <div class="circle"></div>
        <div class="block">
            <div class="main-block"></div>
            <div class="side-block"></div>
        </div>
    </div>
</div>

<!-- <footer>
    Footer
</footer> -->