/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

$background-color : #e4eaf6;
$text-color : #313956;
$button-primary-color : #5458BB;
$button-secondary-color : #B9BEC6;


// #4B536E
// #989072
// #5458BB

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: $background-color;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    gap: 1rem;
    color: $text-color;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    .input-container {
        position: relative;
        .input-field {
            width: 550px;
            border: none;
            border-radius: 1rem;
            height: 5rem;
            padding-inline-start: 5rem;
        }
        .input-field:focus {
            outline: none;
        }
        .search-icon {
            font-size: 2rem;
            color: gray;
            position: absolute;
            z-index: 0;
            left: 1.5rem;
            top: 1.5rem;
        }
    }
    .search-btn {
        padding: 1rem 2rem;
        border-radius: 3rem;
        border: none;
        background-color: $button-primary-color;
        color: white;
        cursor: pointer;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5rem;
    margin: 5rem 0;
    .list-tile {
        position: relative;
        background-color: #ffffff;
        border-radius: 2rem;
        overflow: hidden;
        font-size: 1.5rem;
        .upper-stripes {
            background-color: #0b4076;
            height: 40px;
            color: white;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-left: 1.5rem;
        }
        .lower-stripes {
            background-color: #d84233;
            height: 20px;
        }
        .circle {
            height: 100px;
            width: 100px;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            background-color: $background-color;
            position: absolute;
            right: -50px;
            top: 100px;
        }
        .block {
            width: 800px;
            display: flex;
            min-height: 250px;
            background-color: white;
            .main-block {
                width: 600px;
                max-height: 100%;
                border-right: 4px rgb(132, 132, 132) dashed;
                padding: 1rem 2rem;
                .key {
                    color: #5247be;
                }
                .value {
                    font-size: 2rem;
                }
                .train-time-block {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .from-block , .to-block {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .detail-btn {
                    padding: 0.5rem 1.5rem;
                    border:none;
                    background-color: $button-primary-color;
                    color: white;
                    border-radius: 0.5rem;
                }
            }
            .side-block {
                width: 200px;
                height: 100%;
                #barcode {
                    position: absolute;
                    transform: rotate(270deg) !important;
                    top: 11rem;
                    right: 25px;
                }
            }
        }
    }
}