<header>
    <div class="logo">
        <i class="uil uil-metro"></i>
        <span>{{title}}</span>
    </div>
    <div class="header-block">
        <div class="input-container">
            <input placeholder="Train No. or Name" [formControl]="searchTerm" class="input-field" type="text">
            <i class="search-icon uil uil-search"></i>
            <i *ngIf="searchTerm.value !== ''" (click)="clearSearchField()" class="cross-icon uil uil-times-circle"></i>
            <div class="query-list">
                <ul *ngIf="searchTerm.value !== ''">
                    <li *ngFor="let trainDetail of searchResult" (click)="getDetails(trainDetail.train_no)">
                        <span class="train-number">{{trainDetail.train_no}}</span><br/>
                        <span class="train-name">{{trainDetail.train_name}}</span>
                    </li>
                </ul>
                <ul>
                    <li *ngIf="showNoResultMessage && !isSearchingTerm" class="error-message logo">
                        <i class="uil uil-annoyed"></i>{{noResultMessage}}
                    </li>
                    <li *ngIf="isSearchingTerm" class="error-message logo">
                        <i class="uil uil-file-search-alt"></i>Searching
                    </li>
                </ul>
            </div>
        </div>
        <div class="sort">
            <button (click)="toggleDropdown()">
                <i class="uil uil-sort"></i>
                <span>Sort</span>
                <i class="uil" [ngClass]="showDropdown ? 'uil-angle-down':'uil-angle-up'"></i>
            </button>
            <div id="sort-dropdown" class="dropdown" [style.display]="showDropdown ? 'block' : 'none'">
                <ul class="sorting-list" (click)="toggleDropdown()">
                    <li (click)="selectOption($event)">
                        <span>Train No.</span>
                        <i class="uil" [ngClass]="selectedSortingItem === 'Train No.' ? 'colorGreen uil-check-circle' : 'colorWhite uil-check-circle'"></i>
                    </li>
                    <li (click)="selectOption($event)">
                        <span>Train Name</span>
                        <i class="uil" [ngClass]="selectedSortingItem === 'Train No.' ? 'colorWhite uil-check-circle' : 'colorGreen uil-check-circle'"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
