<header>
    <div class="logo">
        <i class="uil uil-metro"></i>
        <span>Info Rail</span>
    </div>
    <div class="block">
        <div class="search-bar">
            <div class="input-container">
                <input placeholder="Train No. or Name" class="input-field" type="text">
                <i class="search-icon uil uil-search"></i>
            </div>
        </div>
        <div class="filter">
            <button>
                <i class="uil uil-filter"></i>
                <span>Filter</span>
            </button>
        </div>
        <div class="sort">
            <button>
                <i class="uil uil-sort"></i>
                <span>Sort</span>
            </button>
        </div>
    </div>
</header>
