<header>
    <div class="logo">
        <i class="uil uil-metro"></i>
        <span>{{title}}</span>
    </div>
    <div class="header-block">
        <div class="input-container">
            <input placeholder="Train No. or Name" [formControl]="searchTerm" class="input-field" type="text">
            <i class="search-icon uil uil-search"></i>
            <i *ngIf="searchTerm.value !== ''" (click)="clearSearchField()" class="cross-icon uil uil-times-circle"></i>
            <div class="query-list">
                <ul *ngIf="searchTerm.value !== ''">
                    <li *ngFor="let trainDetail of searchResult" (click)="getDetails(trainDetail.train_no)">
                        <span class="train-number">{{trainDetail.train_no}}</span><br/>
                        <span class="train-name">{{trainDetail.train_name}}</span>
                    </li>
                </ul>
                <ul>
                    <li *ngIf="showNoResultMessage" class="error-message logo">
                        <i class="uil uil-annoyed"></i>{{noResultMessage}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter">
            <button (click)="toggleFilter()">
                <i class="uil uil-filter"></i>
                <span>Filter</span>
                <i class="uil" [ngClass]="showFilter ? 'uil-angle-down':'uil-angle-up'"></i>
            </button>
            <div id="filter-dropdown" class="dropdown" [style.display]="showFilter ? 'flex' : 'none'">
                <input type="text" placeholder="From Station" name="from-station"/>
                <button class="exchange-btn">
                    <i class="uil uil-exchange"></i>
                </button>
                <input type="text" placeholder="To Station" name="to-station"/>
                <div class="form-btn">
                    <button class="btn" (click)="toggleFilter()">Apply Filter</button>
                    <button class="btn" (click)="toggleFilter()">Clear</button>
                </div>
            </div>
        </div>
        <div class="sort">
            <button (click)="toggleDropdown()">
                <i class="uil uil-sort"></i>
                <span>Sort</span>
                <i class="uil" [ngClass]="showDropdown ? 'uil-angle-down':'uil-angle-up'"></i>
            </button>
            <div id="sort-dropdown" class="dropdown" [style.display]="showDropdown ? 'block' : 'none'">
                <ul class="sorting-list" (click)="toggleDropdown()">
                    <li (click)="selectOption($event)">
                        <span>Train No.</span>
                        <i class="uil" [ngClass]="selectedSortingItem === 'Train No.' ? 'colorGreen uil-check-circle' : 'colorWhite uil-check-circle'"></i>
                    </li>
                    <li (click)="selectOption($event)">
                        <span>Train Name</span>
                        <i class="uil" [ngClass]="selectedSortingItem === 'Train No.' ? 'colorWhite uil-check-circle' : 'colorGreen uil-check-circle'"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
